* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

nav,
section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

nav,
footer {
  padding: 0 5rem;
}

section {
  padding: 6em 5rem;
  z-index: 3;
}

section {
  background-color: white;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

#nprogress .bar {
  background: rgb(183, 237, 255);
  height: 0.5rem;
}

/* hi-res laptops and desktops */
@media only screen and (min-width: 1281px) {
  nav,
  footer {
    padding: 0 12rem;
  }

  section {
    padding: 8em 12rem;
  }
}
